<%- include("partials/head")  %>
    <body>
         <%- include("partials/nav")  %>
        <h1>All the fruits</h1>
        <ul>
            <% for (let individualFruits of fruitsData) { %>
            <li><%= individualFruits %></li>
            <% } %>
        </ul>
    </body>
</html>
<!--  -->
