<%- include("partials/head")  %>
    <body>
       <%- include("partials/nav")  %>
        <h1>Hii from Home Page</h1>
        <p>The sum of 2 + 3 = <%= "code".toUpperCase() %></p>
        <img src="/img/picture.jpg" alt="" />
        
        <!-- This is another navbar on home page -->
          <%- include("partials/nav")  %>
        <script src="/js/script.js"></script>
    </body>
</html>
