<div id="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rand">Rand</a></li>
        <li><a href="/fruits">Fruits</a></li>
        <li><a href="/r/technology">Technology</a></li>
        <li><a href="/r/ai">AI</a></li>
    </ul>
</div>
