<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h3>You can edit this data</h3>

        <form method="POST" action="/comments/<%=comment.id%>?_method=PATCH">
            <textarea name="comments" id="">
            <%= comment.comments %>
        </textarea
            >
            <button>Save The Data</button>
        </form>
    </body>
</html>
